/*
File Name: style.css
Date: 03/16/19
Programmer: Maqsuda Kabir
*/

/* MOBILE CSS Code and up */
@media only screen and (min-width:320px) {

    img {
        max-width: 100%;
    }

    body {
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        ;
    }

    header {
        text-align: center;
        background-color: #1D828D
    }

    .menu {
        display: inline-block;
    }

    h1.title {
        font-size: 2.5em;
        font-weight: bold;
        border-style: solid;
        border-color: white;
        border-width: 2px;
    }

    h2 {
        border: #000;
        font-size: 2em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.6em;
        font-weight: bold;
        background-color: #1D828D;
    } 

    p {
        font-size: 1.5em;

    }

    .mySubmit {
        background-color: maroon;
        font-size: 1.6em;
        color: whitesmoke;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    select {
        font-size: 2em;
        line-height: 1em;
        border-width: 1px;
        border-style: solid;
        border-color: #EA6052;
        background-color: white;
    }


    footer {
        padding: 1em;
        margin-top: 15px;
        font-size: 1em;
        text-align: center;
    }

    p.follow {
        font-size: 1.6em;
    }

    p.copyright {
        font-size: 1em;
    }

    li.question {
        font-size: 1.1em;
        font-weight: bold;
        background-color: #FFF;

    }

    li.answer {
        font-size: 1.1em;
        background-color: #ADD8E6;
    }

    main label {
        width: 180px;
        clear: left;
        padding-right: 10px;
        float: left;
    }

    form textarea {
        outline: 1px;
        outline-style: solid;
        padding: 0px;
        width: 100%;
    }
    
    form select {
        width: 100%;
    }

    .mapouter {
        text-align: right;
        height: 500px;
        width: 600px;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 500px;
        width: 600px;
    }
    
    #hero img {
        height: 100%;
        width: 100%;
    }
    
    .item {
        display: inline-block;
    }
}


/* TABLET CSS Code and up */

@media only screen and (min-width:538px) {

    
}

/* DESKTOP CSS Code and up */

@media only screen and (min-width:1025px) {

    #hero img {
        padding: 0;
        width: 50%;
        height: auto;
    }

    #hero {
        display: inline-flex;
        width: 95%;
    }

    .mySubmit {
        width: 30%;
        padding-top: 10px;
        margin-right: 100%;
    }
    
    form textarea {
        width: 40%;
    }
    
    form select {
        width: 40%;
    }
}
