* { box-sizing: border-box;}

body { 

}

header {
    
}

nav u1 {
    }

nav li { display: inline; 
         text-decoration: none;
         padding-right: 10px;
}
    

nav {
    
}

main {
    
}

h1 {
    
}


footer {
        
    }
    
#wrapper {
        
      
    }
#container{ 
    
    }